
{{>header}}

<div class="container mt-2">

    

    <button type="button" id="readAllSolutions" class="btn btn-secondary">View All Solutions</button>
    <p id="message"></p>
</div>

<div class="container mt-3" id="readAll">
    <table class="table" id="dataList">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sr#</th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">First Root</th>
                <th scope="col">Second Root</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{{>footer}}
<script src="js/script.js"></script>
</body>
