
{{>header}}

<div class="container mt-2">

    <form class="mx-auto" id="" action="/" method="POST">
        <div class="form-group">
            <label for="valueA">A</label>
            <input type="number" class="form-control" id="valueA">
        </div>
        <div class="form-group">
            <label for="valueB">B</label>
            <input type="number" class="form-control" id="valueB">
        </div>
        <div class="form-group">
            <label for="valueC">C</label>
            <input type="number" class="form-control" id="valueC">
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" id="submitForm" class="btn btn-primary">Solve</button>
            </div>
            <div class="col-8">
                <p id="msg"></p>
            </div>
        </div>
    </form>

    <br/>
    
    <div class="row">
        <div class="col-6">
            <button type="button" id="readAllSolutions" class="btn btn-secondary">View All Solutions</button>
        </div>
        <div class="col-6">
            <p id="message"></p>
        </div>
    </div>
</div>

<div class="container mt-3" id="readAll">
    <table class="table" id="dataList">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sr#</th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">First Root</th>
                <th scope="col">Second Root</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{{>footer}}
<script src="js/script.js"></script>
</body>
